{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row m-3">
        <button id="click_button" onclick="call_click()">
            <img src="../static/res/felix.png">
        </button>
    </div>
    <div id='coins'>{{ core.coins }}</div> 
</div>

<aside class="boosts" id="boosts"> 
    <h3>Бусты</h3> 
    <div class="boosts-holder m-3" id="boosts-holder"> 
        {% for boost in boosts %}   
            <button class="boost_{{boost.type}}" id="boost_{{ boost.id }}" onclick="buy_boost({{ boost.id }})">   
                <p>lvl: <span id="boost_level">{{ boost.level }}</span></p>   
                <p>+<span id="boost_power">{{ boost.power }}</span></p>   
                <p><span id="boost_price">{{ boost.price }}</span></p>   
            </button>   
        {% endfor %}
    </div> 
</aside>
{% endblock %}